 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "picoopic";
    height: 100vh;
}




li , a{
    list-style-type: none;
    text-decoration: none;
    color: #333333;
}

.header{
    height: 100%;
}

.header-top{
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-top .logo{
    color: blueviolet;
    font-weight: 500;
    font-size: 1.5rem;
    
}

.top-logo {
    width: max-content;
}

.top-menu ul{
    display: flex;
    align-items: center;
    gap: 3rem;
    width: 100%;
}

.header-top-menu li a{
    font-size: 1rem;
    font-weight: 500;
     padding: 0.5rem 1rem; 
     color: #333333; 
}
.active{
    background-color: blueviolet;
    color: #fff;
    padding: 0.5rem 2rem;
    border-radius: 5px;
}


.header-top-menu li li:hover{
    color: blueviolet;
}
.header-top-menu li:not(:last-child):hover a{
    color: blueviolet;
}
.header-top-menu li a.active:hover{
    background-color: rgb(67, 6, 124);
}

/* ---------------------------------------------- */

.icon-bar{
    width: 40px;
    cursor: pointer;
    display: none;
}
.icon-close{
    display: none;
    width: 40px;
    transition: all 300ms;
    position: absolute;
    top: 40px;
    right: 40px;
    cursor: pointer;
}

/* --------------------------------------------------------------------------------------- */

img{
    width: 100%;
}

.header-bottom{
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.header-bottom-left{
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

.header-bottom-left h1 span:nth-child(1) {
    font-weight: 400;
    color: #0f1e6a;
}
.header-bottom-left h1 span:nth-child(5) {
    font-weight: 700;
    color: #0f1e6a;
}
.header-bottom-left h1 span:nth-child(3) {
    font-weight: 700;
    color: blueviolet;
}

.header-bottom-left p{
    margin: 1rem 0 1.5rem 0;
    color: #333333;
    line-height: 1.7rem;
    max-width: 80%;
}
.header-bottom-left form{
    display: flex;
    align-items: center;
    width: 80%;
}
.header-bottom-left form input{
    border: 0;
    outline: 0;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    width: 100%;
    font-size: 0.8rem;
    max-width: 300px;
}
.header-bottom-left form button{
    border: 0;
    outline: 0;
    background-color: blueviolet;
    color: #fff;
    padding: 13px;
    white-space: nowrap;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}



.header-bottom-right{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
    place-content: center;
    position: relative;
    z-index: -1;
}
.header-bottom-right img{
    border-radius: 10px;
}
.header-bottom-right img:nth-child(1) {
    transform: translateY(70px);
}
.header-bottom-right .text-img{
    background: linear-gradient(to left , rgba(92,72,238,0.2) , rgba(15,30,106,0.4) );
    backdrop-filter: blur(30px);
    padding: 1rem 2rem;
    width: 50%;
    color: #fff;
    border-radius: 10px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-60%,30%);
}
.header-bottom-right .text-img li{
    margin-bottom: 0.5rem;
    list-style: disc;
} 

/* ------------------------------------------------------------------------------ */

@media screen and (max-width:992px) {
    .top-logo {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .top-menu ul{
        width: 35%;
        background: linear-gradient(to right , rgba(92,72,238,0.3) , rgba(15,30,106,1) );
        top: 0;
        left: -340px;
        height: 100vh;
        flex-direction: column;
        position: absolute;
        padding: 150px 0 0 0;
        transition: all 0.4s;
        color: #fff;
    }
    
    .top-menu ul a {
        color: #fff;
    }

    .header-bottom {
        flex-direction: column;
    }

    .header-bottom-left{
        min-height: fit-content;
        margin: 50px 0;
        text-align: center;
        align-items: center;
    }

    .header-bottom-left form {
        width: 59%;
    }

}
  