.navbar {
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 1rem 0;
  position: sticky;
  top: 0;
  z-index: 1000;
  border-radius: 10px;
  margin-top: 1rem;
}

.nav-container {
  width: 100%;
  padding: 0 2rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-brand h3 {
  color: #8b5cf6;
  margin: 0;
  font-size: 1.5rem;
  font-weight: 600;
}

.nav-menu {
  display: flex;
}

.berger-menu {
  display: none;
}

.nav-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 2rem;
  transition: display 10s ease-in-out;
}

.nav-link {
  color: #4b5563;
  text-decoration: none;
  font-size: 1rem;
  transition: all 0.3s ease;
  padding: 0.5rem 1rem;
  border-radius: 4px;
}

.nav-link:hover {
  color: #8b5cf6;
  background-color: rgba(139, 92, 246, 0.1);
}

.nav-link.active {
  color: #8b5cf6;
  background-color: rgba(139, 92, 246, 0.1);
  font-weight: 600;
}

/* Responsive Design */
@media screen and (max-width: 900px) {
  .nav-container {
    padding: 0 1rem;
  }
  .nav-menu > ul {
    gap: 1rem;
  }
}

@media (max-width: 768px) {
  .navbar {
    padding: 0.5rem 0;
  }

  .berger-menu {
    display: block;
  }

  .nav-menu ul {
    flex-direction: column;
    position: absolute;
    right: -3%;
    top: -40%;
    background-color: #eee;
    height: 100vh;
    width: 50%;
    padding-top: 10%;
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    pointer-events: none;
  }

  .nav-menu ul.show {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }
}
